.container{
    padding : 10px 40px;
    border: 2px solid #ccc;
    color: #000;
    background-color: #fff;
    border-radius: 16px;
    width: 100%;

}

.logoContainer{
    padding : 20px 0px;
    border-bottom : 1px solid #ccc;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
}

.listContainer{

}


.listContainer div{
    padding: 40px 0px;
    display: flex;
    a

}

.listContainer div a{
    padding: 0px 13px;
}


