.CenterbarContainer{
    color:#fff;
}

.Button{
    background-color:#FFC148;
    border : none;
    outline: none;
    color: #000;
}



/* -------- FirstRow Styles -------- */

.FirstRowContainer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 20px;
    align-items:center;
}


/* -------- SecondRow Styles -------- */

.secondRowContainer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:42px 20px;
    align-items:center;
}

.secondRowContainer div{
    /* border: 2px solid red; */
    flex:1;
    display:flex;
    background-color:#2e384e;
}

.secondRowContainer .contentBox{
    flex:2;
    flex-direction:column;
    justify-content:center;
}

.contentBox p{
    color: #999;
}

.secondRowContainer .progressbarContainer{
    flex:1;
    align-items: center;
    display: flex;
    justify-content: center;
    margin : 0 auto;
}

/* Fourth Row */

.taskContainer{
    height:50%;
}