.root{
  display: flex;
  color: #fff;
  max-height: 100vh;
}

.root{
  height: 100vh;
  /* display: flex;
  flex-direction: column; */

}

.root div{
  
}

.leftsidebar{
  flex: 1;

}

.centerbar{
  flex: 3;

}

.rightsidebar{
  flex: 1;
  background-color: #2e384e;
  

}

@media screen and (max-width: 1023px){
  .leftsidebar{
    flex: 1;
    /* border: 1px solid #ccc; */
  
  }
  
  .centerbar{
    flex: 3;
    /* border: 1px solid gray; */
  
  }

  .rightsidebar{
    display: none;
  }
}
  
@media screen and (min-width: 1024px){
  .leftsidebar{
    flex: 1;
    /* border: 1px solid #ccc; */
  
  }
  
  .centerbar{
    flex: 3;
    /* border: 1px solid gray; */
  
  }

  .rightsidebar{
    flex: 1;
  }
}
